/CalculatorAPI/nbproject/private/
/CalculatorAPI/build/
/sqlite-jdbc/build/
/sqlite-jdbc/nbproject/private/
/ParametersEditorModule/ParametersEditor/nbproject/private/
/SqliteModule/sqlite-jdbc/nbproject/private/
/ViewportModule/build/
/JavaApplication13/nbproject/private/
/JavaApplication13/build/
/JavaApplication14/nbproject/private/
/ViewportModule/nbproject/private/
/JavaProject2/nbproject/private/
/JavaProject2/build/
/JavaProject2/dist/