/nbproject/private/
/ViewportModule/nbproject/private/
/build/
/CalculatorAPI/build/
/Orbitbehaviorinterim/build/
/ParametersEditorModule/build/
/SqliteModule/build/
/ViewportModule/build/
/CalculatorAPI/nbproject/private/
/ConfigLoader/build/
/ConfigLoader/nbproject/private/