<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<root>
    <path name="default model">C:\Users\Пётр\Desktop\DAS\DAS\Test model\model1</path>
    <path name="obj model">C:\Users\Пётр\Desktop\Модели 3D\test.obj</path>
</root>